.image1 {
    position: relative;
    top: 0;
    left: 0;
}
.image2 {
    position: absolute;
    top: 200px;
    left: 1000px;
}
Body{
    background-image: url("https://media.istockphoto.com/vectors/abstract-blurred-colorful-background-vector-id1248542684?k=20&m=1248542684&s=612x612&w=0&h=1yKiRrtPhiqUJXS_yJDwMGVHVkYRk2pJX4PG3TT4ZYM=");
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    padding-left: 4em;
}
a{
    color: #f53d90;
    cursor: cell;
    font-weight: bold;
}
h1{
    text-shadow: 2px 2px blue;
    color: wheat;
    padding-left: 1em;
}
.container {
    position: relative;
}
.text-block {
    position: absolute;
    top: 20px;
    left: 20px;
    color: yellow;
    padding-left: 20px;
    padding-right: 20px;
}
table{
    padding-left: 4em;
}
th{
    padding-right: 15em;
    padding-bottom: 10px;
}
td{
    padding-bottom: 10px;
}
